<div class="panel panel-default">
  <div class="panel-heading">
    {{link-to name 'route' name}}
  </div>
  <div class="panel-body">
    {{#if tail.length}}
      {{template-visualization parents=tail isShowingSubStates=isShowingSubStates}}
    {{else}}
      {{#if hasChildren}}
        <code>\{{outlet}}</code> contains one of:
        <ul>
          {{#each child in route.children}}
            {{#if child.isSubState}}
              {{#if isShowingSubStates}}
                <li>{{link-to child.value.name 'route' child.value.name}}</li>
              {{/if}}
            {{else}}
              <li>{{link-to child.value.name 'route' child.value.name}}</li>
            {{/if}}
          {{/each}}
        </ul>
      {{else}}
        No <code>\{{outlet}}</code> in {{name}} because there are no child routes.
      {{/if}}
    {{/if}}
  </div>
</div>


