<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 id='title'>Diagonal Routes</h2>
      {{textarea value=routesInput rows=10 cols=100}}
    </div>
  </div>



  {{#if isError}}
    <div class="alert-danger alert">
      <h4>
        There was an error: {{theApplication.message}}
      </h4>
      <p>
        Line {{errorLineNumber}} Column {{errorColumn}}
      </p>
    </div>
  {{else}}
    <div class="row">
      <div class="col-md-6">
        <p>
          <label>Show loading/error substates
            {{input type='checkbox' checked=isShowingSubStates}}
          </label>
        </p>
        {{!-- {{route-displayer route=routeTree isShowingSubStates=isShowingSubStates}} --}}
        {{route-tree routeTree=routeTree isShowingSubStates=isShowingSubStates action='showRoute'}}
      </div>
      <div class="col-md-6">
        {{outlet}}
      </div>
    </div>
  {{/if}}

</div>
