<h1>Showing route {{value.name}}</h1>

<dl>
  <dt>Url</dt>
  <dd>
    {{#if value.url}}
      <code>{{value.url}}</code>
    {{else}}
      <p>This route has no URL, as it is a parent route. You will always be in a child state of this route (which by default is called <code>{{value.name}}.index</code>)</p>
    {{/if}}
  </dd>
  <dt>Type</dt>
  <dd>{{value.type}}</dd>
  <dt>Route Class</dt>
  <dd><code>{{value.routeHandler.className}}</code></dd>
  <dt>Controller</dt>
  <dd><code>App.{{value.controller.className}}</code></dd>
  <dt>Template</dt>
  <dd><code>{{value.template.name}}</code></dd>
  <dt>Template Outline</dt>
  <dd>
    {{template-visualization parents=parentsAndSelf}}
  </dd>
  <dt>Model Hooks</dt>
  <dd>
    <h3>Validation Phase</h3>
    <p>First all of these model hooks will be called in this order:</p>
    <ol>
      {{#each parentsAndSelf}}
        {{validation-hooks route=this}}
      {{/each}}
    </ol>
    <h3>Setup Phase</h3>
    <p>If none of the model hooks abort the transition, either by calling <code>transition.abort()</code> or <code>this.transitionTo('someOtherRoute')</code>, then these setup hooks will be called in this order:</p>
    <ol>
      {{#each parentsAndSelf}}
        {{setup-hooks route=this}}
      {{/each}}
    </ol>
  </dd>
</dl>
